<html>
    <header>
        <img src="public/images/logo-mercado-libre.svg" alt="logo">
        <ul>
            <li><a href= #>/a>Ofertas</a></li>
            <li><a href= #>Tiendas Oficiales</a></li>  
            <li><a href= #>Vender</a></li> 
            <li><a href= #>Ayuda</a></li>
        </ul>
        <ul>
            <li><a href= #>Creá tu cuenta</a></li>
            <li><a href= #>Ingresá</a></li>
            <li><a href= #>Mis compras</a></li>
        </ul>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</html>    